[*.{cs,vb}]

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = silent
